
{% block nav %}
<div>
    <div class="site-header">
    <div class="container">
        <a href="#" id="branding">
            <img src="" alt="" class="logo">
            <div class="logo-text">
                <h1 class="site-title">Torquay Hotel Resort</h1>
                <small class="site-description">Welcome to Home away from Home </small>
            </div>
        </a> 
        
<div class="main-navigation">
    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
    <ul class="menu">
        <li class="menu-item current-menu-item"><a href="index.html">The Resort</a></li>
        <li class="menu-item"><a href="about.html">About</a></li>
        <li class="menu-item"><a href="project.html">our Projects</a></li>
        <li class="menu-item"><a href="contact.html">Contact</a></li>
        <div>
            {% if user.is_authenticated %}
                <h2>Hello {{user.username}}</h2>
                <h2> <a href="{% url 'logout' %}">Log Out</a>  </h2>
                
           
            {% else %}
                <h2> <a href="{% url 'login' %}">Log In</a>  </h2>
            {% endif %}
            
            
            
        </div>

    </ul> 
    

</div> 



    </div>
    </div>
    

{% endblock %}