{% extends 'base.html' %}

{% block content %}
<div id="login-wrapper">
    <div id="login-box">
        <h1>Change Password</h1>
        <form method="POST">
            {% csrf_token %}
            
            <label>Password</label>
            <input type="password" name="password1" class="form-control">

            <label>Confirm Password</label>
            <input type="password" name="password2" class="form-control">

            <p>
                <button class="form-control btn btn-success">Save</button>
            </p>
        </p>
        </form>
    </div>
</div>

{% endblock %}