{% extends 'base.html' %}

{% block content %}
<h1>Register</h1>
<form action="" method="post">
{% csrf_token %}

{{ form.as_p }}


{{ form2.as_p }}


<button type="submit">Register</button>

</form>

{% endblock %}

<!-- 

<p>
    First Name
    <input type="text" name = "first_name" placeholder="first_name">
</p>
<p>
    Last Name
    <input type="text" name = "last_name" placeholder="last_name">
</p>
<p>
    username
    <input type="text" name = "username" placeholder="username">
</p>

<p>
    email
    <input type="email" name = "email" placeholder="email">
</p>

<p>
    phone
    <input type="integer" name = "phone_number" placeholder="phone">
</p>
<p>
    address
    <input type="integer" name = "address" placeholder="phone">
</p>

<p>
    city
    <input type="text" name = "city" placeholder="city">
</p>

<p>
    country
    <input type="text"  name = "country" placeholder="country">
</p>

<p>
    password
    <input type="password" name = "password1" placeholder="password">
</p>


<p>
    Confirm password
    <input type="password" name = "password2" placeholder="confirm password">
</p> -->
